In [1]:
!pip install pandas mysql-connector-python

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\programdata\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: mysql-connector-python in c:\users\loges\appdata\roaming\python\python312\site-packages (9.2.0)
Requirement already satisfied: numpy>=1.26.0 in c:\programdata\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [2]:
import pandas as pd
import mysql.connector

In [3]:
db_connection = mysql.connector.connect(
    host="localhost",           # or your MySQL host
    user="root",       # your MySQL username
    password="Logesh",   # your MySQL password
    database="shopping"       # your MySQL database name
)

In [18]:
df = pd.read_csv(r"C:\Users\loges\Downloads\Level15dataset\customer_shopping_data.csv")
df['invoice_date'] = pd.to_datetime(df['invoice_date'], format='%d-%m-%Y').dt.strftime('%Y-%m-%d')
df.head()

,invoice_no,customer_id,gender,age,category,quantity,price,payment_method,invoice_date,shopping_mall
0,I138884,C241288,Female,28.0,Clothing,5.0,1500.40,Credit Card,2022-08-05,Kanyon
1,I317333,C111565,Male,21.0,Shoes,3.0,1800.51,Debit Card,2021-12-12,Forum Istanbul
2,I127801,C266599,Male,20.0,Clothing,1.0,300.08,Cash,2021-11-09,Metrocity
3,I173702,C988172,Female,66.0,Shoes,5.0,3000.85,Credit Card,2021-05-16,Metropol AVM
4,I337046,C189076,Female,53.0,Books,4.0,60.60,Cash,2021-10-24,Kanyon

In [19]:
cursor = db_connection.cursor()

In [20]:
columns = df.columns.tolist()  # Get the column names as a list
placeholders = ', '.join(['%s'] * len(columns))  # Create placeholders dynamically

In [21]:
print("DataFrame columns:", df.columns.tolist())  # Check DataFrame columns

DataFrame columns: ['invoice_no', 'customer_id', 'gender', 'age', 'category', 'quantity', 'price', 'payment_method', 'invoice_date', 'shopping_mall']

In [22]:
for i, row in df.iterrows():
    sql = f"INSERT INTO shopping_data ({', '.join(columns)}) VALUES ({placeholders})"
    cursor.execute(sql, tuple(row.values))

In [23]:
db_connection.commit()

In [24]:
cursor.close()
db_connection.close()

print("Data imported successfully!")

Data imported successfully!